<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Favorite Location Manager</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArixsVF3PqqdTDvFYcv1gK0WDkcj8UDCc&sensor=false"></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='http://underscorejs.org/underscore-min.js'></script>
    <script src='http://backbonejs.org/backbone-min.js'></script>
    <script type="text/javascript" src="backbone.googlemaps.js"></script>
    <script src="/dashboard.js"></script>

    <link rel="stylesheet" type="text/css" href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <h1 style='display:none;'>Favorite Location Manager</h1>
      <div class="span6">
        <h3>Add New Location</h3>
        <form id="new-location">
          <label for="new-location-title">New Location Title</label>
          <input type="text" id="new-location-title" />
          <label for="new-location-address">New Location Address</label>
          <input type="text" id="new-location-address" />
          <br/>
          <a class="new-location btn primary">Submit</a>
        </form>
      </div>
      <div class="span6">
        <h3>Favorite Locations</h3>
        <ul id="favorite-locations"></ul>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="map_canvas" style="width:100%; height:500px"></div>
      </div>
    </div>
  </div>

  <!-- Templates -->
  <script type="text/template" id="location-template">
    <span class="location-title"><%- title %></span>
    <input class="edit location-title" type="text" value="<%- title %>" />
    <span class="lbl location-address"><%- address %></span>
    <input class="edit location-address" type="text" value="<%- address %>" />
    <a class="btn btn-mini done" href="#"><i class="icon-ok"></i> Done</a>
    <a class="btn btn-mini edit" href="#"><i class="icon-edit"></i> Edit</a>
    <a class="btn btn-mini destroy" href="#"><i class="icon-remove"></i> Delete</a>
  </script>

  <script id="infoWindow-template" type="text/html">
    <h4><%=title %></h4>
    <p>Latitude: <%=lat %></p>
    <p>Longitude: <%=lng %></p>
  </script>

</body>
</html>
